---
import { Accordion } from "@/components/Accordion";
import {
	Card,
	CardContent,
	CardDescription,
	CardFooter,
	CardHeader,
	CardTitle,
} from "@/components/ui/card";
import { Content as ContactDetails } from "../content/contact.md";
import { marked } from "marked";

const dataImport = await Astro.glob("../content/*.md");

const filteredDataImport = dataImport.filter(
	(data) => !data.file.includes("content/contact.md")
);

const accordionData = filteredDataImport.map((dataItem) => ({
	title: dataItem.frontmatter.title,
	description: dataItem.frontmatter.description,
	content: marked(dataItem.rawContent()),
	tableate: dataItem.file.includes("content/4.skills.md"),
}));
---

<Card>
	<CardHeader>
		<CardTitle>Blessing Mashile-Zwane</CardTitle>
		<CardDescription>curriculum vitae</CardDescription>
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
			<ContactDetails />
		</div>
	</CardHeader>
	<CardContent>
		<Accordion data={accordionData} client:idle />
	</CardContent>
	<CardFooter className=" flex justify-center">
		<a
			href="https://github.com/blessingMashileZwane"
			target="_blank"
			class="text-violet-700">My github &#128513;</a
		>
	</CardFooter>
</Card>
